.post-page {
    display: flex;
}

.post-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post-author, .post-author-data-container {
    display: flex;
    align-items: center;
}

.post-author-data-container {
    margin-right: 240px;
}

.post-author-profilepic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.post-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.post-info {
    display: flex;
    justify-content: center;
}

.post-caption-container {
    margin-right: 200px;
}

.post-likes-container {
    display: flex;
}

.post-heart-container:hover {
    cursor: pointer;
}

.post-comments-container {
    display: flex;
    flex-direction: column;
}

.comments-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}



.comments-container::-webkit-scrollbar {
    width: 8px; 
  }
  
  .comments-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
  
  .comments-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
  }

  .comments-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
    cursor: pointer;
  }

  

  .comments-container {
    border-color: black;
    border-style: solid;
    height: 350px;
    width: 400px;
    max-height: 350px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.comment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;;
    margin-left: 5px;
}

.comment-author-link {
    text-decoration: none;
    color: black;
}
  .comment-text-container {
    max-width: 250px; 
    white-space: normal; 
    word-break: break-word; 
}

.comment-username-container,
.comment-profilepic-container,
.comment-text-container {
    display: flex;
    align-items: center;
}

.comment-delete-btn-container {
    margin-left: auto; /* This will push the delete button to the far right */
}


  .add-comment-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-comment-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }




  .comment-profilepic {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }