.post-page {
    display: flex;
    background-color: black;
}

.post-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    color: white;
    border-style: solid;
    border-width: 2px;
    padding: 7px;
}

.post-author, .post-author-data-container {
    display: flex;
    align-items: center;
}

.post-author-link {
    color: white;
    text-decoration: none;
}

.post-author-data-container {
    margin-right: 240px;
}

.post-author-profilepic-container {
    margin-right: 4px;
}

.post-author-profilepic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.post-author-username {
    font-weight: bold;
}

.delete-post-btn {
    border-radius: 5px;
    background-color: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3px;
    font-weight: bold;
}

.delete-post-btn:hover {
    background-color: darkred;
    cursor: pointer;
}

.post-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.post-info {
    display: flex;
    justify-content: center;
}

.post-caption-container {
    margin-right: 200px;
}

.post-caption {
    font-weight: bold;
}

.post-likes-container {
    display: flex;
}

.post-like-count {
    font-weight: bold;
}


.post-heart-container:hover {
    cursor: pointer;
}

.post-comments-container {
    display: flex;
    flex-direction: column;
}

.comments-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}



.comments-container::-webkit-scrollbar {
    width: 8px; 
  }
  
  .comments-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
  
  .comments-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
  }

  .comments-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
    cursor: pointer;
  }

  

  .comments-container {
    border-color: black;
    border-style: solid;
    height: 325px;
    width: 400px;
    max-height: 325px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.comment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;;
    margin-left: 5px;
}

.comment-author-link {
    text-decoration: none;
    color: white;
}
  .comment-text-container {
    max-width: 250px; 
    white-space: normal; 
    word-break: break-word; 
}

.comment-username-container,
.comment-profilepic-container,
.comment-text-container {
    display: flex;
    align-items: center;
}

.comment-delete-btn-container {
    margin-left: auto; /* This will push the delete button to the far right */
}

.comment-delete-btn {
    border-radius: 5px;
    background-color: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3px;
    font-weight: bold;
}

.comment-delete-btn:hover {
    background-color: darkred;
    cursor: pointer;
}

  .add-comment-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-comment-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .comment-text-area {
    background-color: black;
    color: white;
    border: white;
    border-style: solid;
    border-width: 1px;
  }

  .comment-text-area:hover {
    background-color: #555;
  }

  .comment-text-area::placeholder {
    color:white;
  }

  .comment-profilepic {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  .post-comment-btn {
    background-color: black;
    color: white;
    font-weight: bold;
    border: white;
    border-style: solid;
    border-width: 1px;
  }

  .post-comment-btn:hover {
    background-color: #555;
    cursor: pointer;
  }