.profile-page {
    display: flex;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-container {
    display: flex;
    flex-direction: column;
    padding: 6%;
}

.user-info-container {
    display: flex;
    margin-bottom: 100px;
}

.profile-picture-container {
    margin-right: 70px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info-top,
.user-info-middle,
.user-info-bottom {
    display: flex;
    align-items: center;
}

.user-info-top {
    margin-bottom: 25px;
}

.username {
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

.edit-profile-btn-container {
    margin-right: 15px;
}

.edit-profile-btn, .settings-btn, .follow-btn, .unfollow-btn {
    background-color: #696969;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
}

.edit-profile-btn:hover, .settings-btn:hover, .follow-btn:hover, .unfollow-btn:hover {
    background-color: #505050;;
    cursor: pointer;
}

.user-info-middle {
    margin-bottom: 25px;
}

.followers-count:hover, .following-count:hover {
    cursor: pointer;
}

.user-metric {
    margin-right: 20px;
}

.profile-posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 620px;
    margin: 0 auto; /* Center the container */
}

.profile-post-container {
    width: 100%; 
    max-width: 200px;
}

.profile-post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
