.settings-page {
    text-align: center;
    margin-top: 100px;
  }
  
  .settings-page h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .back-btn, .delete-btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .back-btn:hover, .delete-btn:hover {
    background-color: #444;
  }
  
  .delete-btn {
    background-color: #d9534f; /* Red for the delete button */
  }
  
  .delete-btn:hover {
    background-color: #c9302c;
  }
  